@import "themeColors";

.button {
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  padding: 14px;
  font-size: 1.2rem;
  border: 3px $primary-color solid;
  color: $primary-color;
  background-color: $secondary-color;
  font-weight: bold;

  transition: background-color 0.3s, color 0.3s;

  &:hover {
    color: $secondary-color;
    background-color: $primary-color;
  }
}
