@import "variables";

@mixin square_sizes($side_size) {
  width: $side_size;
  height: $side_size;
}

@mixin pizza_image_sizes {
  @include square_sizes(320px);

  @media (min-width: 425px) {
    @include square_sizes(400px);
  }

  @media (min-width: 786px) {
    @include square_sizes(525px);
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza_image_cropper {
  @include pizza_image_sizes;

  position: absolute;
  overflow-y: hidden;
  bottom: 0;
}

.pizza_image_wrapper {
  @include pizza_image_sizes;

  position: relative;
  transform: translateY(150px);

  @media (min-width: 425px) {
    transform: translateY(175px);
  }

  @media (min-width: 786px) {
    transform: translateY(275px);
  }
}
