@import "themeColors";
@import "zIndexes";
@import "shared";

@mixin square_sizes($side-size) {
  width: $side-size;
  height: $side-size;
}

@mixin pizza_image_sizes {
  @include square_sizes(320px);

  @media (min-width: 425px) {
    @include square_sizes(400px);
  }

  @media (min-width: 786px) {
    @include square_sizes(525px);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.main {
  @include main;
  justify-content: center;
}

.titleBox {
  margin-top: 15vh;
  z-index: $first-layer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  h1 {
    @include h1;
  }
}

.pizza_image_cropper {
  @include pizza_image_sizes;

  position: absolute;
  overflow-y: hidden;
  bottom: 0;
}

.pizza_image_wrapper {
  @include pizza_image_sizes;

  position: relative;
  transform: translateY(150px);

  @media (min-width: 425px) {
    transform: translateY(175px);
  }

  @media (min-width: 786px) {
    transform: translateY(275px);
  }
}
